
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */